<p id="notice"><%= notice %></p>

<div class='column is-half is-offset-one-quarter'>
  <article class='media box'>
    <div class="media-content">
      <%= render "messages/form" %>
    </div>
  </article>

<% @messages.each do |message| %>
<div class="box">
<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%=message.title%></strong> 
        <br>
        <%=message.body%>
      </p>
    </div>
  </div>
</article>
</div>
<% end %>

